<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <connectionStrings>
    <clear/>
    <add name="extra" connectionString="MultipleActiveResultSets=True;server=10.128.132.113,1205;database=db_STG_extra_GERMUD;user id=usr_stg_web;password=l@bL8rt47;timeout=100;Async=true" providerName="System.Data.SqlClient" />
    <!--<add name="casasbahia" connectionString="Data Source=10.128.132.167,1167;Initial Catalog=DB_HOM_CASASBAHIA_PADAWAN;Integrated Security=False;user id=usr_hom_web;password=12qwRE$#56tyhomweb;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" />-->
    <!--<add name="pontofrio"  connectionString="Data Source=10.128.132.167,1167;Initial Catalog=DB_HOM_CASASBAHIA_PADAWAN;Integrated Security=False;User ID=usr_hom_web;Password=12qwRE$#56tyhomweb;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" />-->
    <!--<add name="extra"      connectionString="Data Source=10.128.132.167,1167;Initial Catalog=DB_HOM_CASASBAHIA_PADAWAN;Integrated Security=False;User ID=usr_hom_web;Password=12qwRE$#56tyhomweb;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" />-->
    <!--<add name="barateiro"  connectionString="Data Source=10.128.132.167,1167;Initial Catalog=DB_HOM_CASASBAHIA_PADAWAN;Integrated Security=False;User ID=usr_hom_web;Password=12qwRE$#56tyhomweb;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" />-->
  </connectionStrings>

</configuration>